@use "../../assets/sass/_variables.scss" as *;

.recipe-form {
  margin-top: 1rem;
  font-family: $font-secondary;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }

  &__label {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  &__input {
    @include form-input;

    &--textarea {
      height: 15rem;
    }
  }

  &__ingredients-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__ingredients-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__fieldset {
    @include form-fieldset;
  }

  &__buttons-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
}
