@use "../../assets/sass/_variables.scss" as *;

.button {
  border: 0.2rem solid $color-primary;
  font-family: $font-secondary;
  border-radius: 0.75rem;
  padding: 0.25rem;
  @media screen and (min-width: 768px) {
    padding: 0.5rem;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-secondary;
    &:active {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-primary;
    &:active {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}
