@use "../../assets/sass/_variables.scss" as *;

.recipe-card-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 50rem;

  &__top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 2.5rem;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }

  &__recipes {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
