@use "../../assets/sass/_variables.scss" as *;

.recipe-card-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 200rem;

  &__top-line {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    border: none;
    background-color: $color-primary;
    color: $color-secondary;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 0.2rem solid $color-primary;
    font-family: $font-secondary;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }

  &__header {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 3rem;
  }

  &__recipes {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
