@use "../../assets/sass/_variables.scss" as *;

.ingredient-form-item {
  margin: 1rem;
  display: flex;
  flex-direction: column;

  &__name-heading {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    @include form-input;
  }

  &__fieldset {
    @include form-fieldset;
  }

  &__label {
    margin-right: 0.5rem;
    margin-top: 1.2rem;
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__quantity-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}
