@use "./assets/sass/_variables.scss" as *;

.app {
  padding: 2rem 0.8rem;
  display: flex;
  flex-direction: column;
  color: $color-primary;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }

  &__header {
    font-family: $font-primary;
    color: $color-primary;

    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 5rem;
    }
  }
}
