@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Tangerine:wght@400;700&display=swap");

$font-primary: "Tangerine", cursive;
$font-secondary: "Roboto Slab", serif;

$color-primary: white;
$color-secondary: #ee978a;
